<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplier edit</title>
    <div th:replace="fragments/scripts::scripts">scripts</div>
    <link rel="shortcut icon" href="/images/logo.jpg"/>
</head>

<style>
    .palel-primary {
        border-color: #bce8f1;
    }

    .panel-primary > .panel-heading {
        background: #bce8f1;

    }

    .panel-primary > .panel-body {
        background-color: #EDEDED;
    }
</style>
<body>
<div th:replace="fragments/header::header">header</div>
<div class="wrapper">
    <div th:replace="fragments/navbars::sidebar">header</div>
    <div id="content" style="width: 100%;overflow:inherit;!important;">
        <div th:replace="fragments/navbars::navbar">header</div>

            <div class="container-fluid" style="padding-top: 100px">
                <h3 class="page-heading mb-4">Supplier</h3>
                <div class="row mb-2">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" method="post" action="/supplier/updateSupplier">
                                    <input type="hidden" th:value="*{supcode}" name="supplierId">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12" for="supplier">Supplier Name
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input id="supplier" name="suplier" class="form-control" type="text"
                                                   th:field="*{supplier.suplier_name}"
                                                   data-validation="required">
                                            <span id="error_name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12" for="company">Company Name
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input id="company" name="company" class="form-control" type="text"
                                                   th:field="*{supplier.company}"
                                                   data-validation="email">
                                            <span id="error_lastname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12"
                                               for="address">Addres </label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input id="address" name="address" class="form-control" type="text"
                                                   th:field="*{supplier.address}">
                                            <span id="error_age" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12">Credit Limit
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input id="credit_limit" name="credit_limit" class="form-control"
                                                   th:field="*{supplier.creditLimit}"
                                                   type="text">
                                            <span id="error_credit_limit" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12">Credit Period
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input type="text" id="credit_period" name="credit_period"
                                                   th:field="*{supplier.creditPeriod}"
                                                   class="form-control">
                                            <span id="error_nicno" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12">Email
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input type="text" id="email" name="email" th:field="*{supplier.email}"
                                                   class="form-control">
                                            <span id="error_email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-6 col-xs-12" for="phone">Phone Number
                                            *</label>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input type="text" id="phone" name="phone" class="form-control"
                                                   th:field="*{supplier.mobileNo}">
                                            <span id="error_phone" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <button id="submit" type="submit" value="submit" class="btn btn-primary center">
                                        Update
                                    </button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">

    //    $('.datepicker').datepicker({
    //        dateFormat: "yy-mm-dd",
    //        maxDate: new Date()
    //    });

    $(document).ready(function () {
        $flag = 1;
        $("#supplier").focusout(function () {

            if ($(this).val().length < 3) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("* You have to enter your more Supplier than 3 letter!");
            }
            else if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("* You have to enter your Supplier!");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_name").text("");

            }
        });
        $("#company").focusout(function () {
            if ($(this).val().length < 3) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("* You have to enter your more Company than 3 letter!");
            }
            else if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("* You have to enter your Company!");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_lastname").text("");
            }
        });
        $("#credit_limit").focusout(function () {
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_credit_limit").text("* You have to enter your Credit Limit!");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_credit_limit").text("");
            }
        });
        $("#nicno").focusout(function () {
            if ($(this).val().length < 10) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_nicno").text("* You have to enter your NIC NO more than 10 letter!");
            }

            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_nicno").text("* You have to enter your NIC NO!");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_nicno").text("");
            }
        });

        $("#gender").focusout(function () {
            $(this).css("border-color", "#2eb82e");

        });

        $("#phone").focusout(function () {
            $pho = $("#phone").val();

            if ($(this).val().length < 10) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* You have to enter your Phone Number more than 10 letter!");
            }
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* You have to enter your Phone Number!");
            }
            else if ($pho.length != 10) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* Lenght of Phone Number Should Be Ten");
            }
            else if (!$.isNumeric($pho)) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* Phone Number Should Be Numeric");
            }
            else {
                $(this).css({"border-color": "#2eb82e"});
                $('#submit').attr('disabled', false);
                $("#error_phone").text("");
            }

        });

        $("#submit").click(function () {

            if ($("#supplier").val().length < 3) {
                $("#supplier").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("* You have to enter your Supplier more than 3 letter!");
            }

            if ($("#company").val().length < 3) {
                $("#company").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("* You have to enter your last name more than 3 letter!");
            }
            if ($("#phone").val().length < 3) {
                $("#phone").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* You have to enter your Phone Number more than 10 letter!");
            }

            if ($("#supplier").val() == '') {
                $("#supplier").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("* You have to enter your Supplier!");
            }
            if ($("#company").val() == '') {
                $("#company").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("* You have to enter your Company!");
            }
            if ($("#credit_limit").val() == '') {
                $("#credit_limit").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_credit_limit").text("* You have to enter your Credit Limit!");
            }

            if ($("#phone").val() == '') {
                $("#phone").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_phone").text("* You have to enter your Phone Number!");
            }
        });


    });
</script>
</html>