<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Header -->
<th:block th:fragment="footer">

    <nav class="navbar navbar-fixed-bottom">

        <div class="container" style="padding: 5px; background-color: #b3b3b3;">
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
                <a href="#" class="btn btn-default" style="border: #0f0f0f solid medium;">Cancel</a>
                <a href="#" class="btn btn-default" style="border: #0f0f0f solid medium;">Authorized</a>
                <a href="#" class="btn btn-default" style="border: #0f0f0f solid medium;">Reject</a>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

</th:block>

</body>

</html>